/*!
 *	Introduction CSS
 */
.aboutme-introduction-container {
	background-color: var(--page-welcome-bg-color);
	padding: 30px 0px;
}

.about-introduction-welcome-contaniner {
	overflow: hidden;
}

.about-introduction-welcome-title {
	word-break: break-all;
	min-height: 39.6px;
}

.about-introduction-welcome-quote {
	word-break: break-all;
	min-height: 15px;
}

.aboutme-introduction-image-container {
	text-align: left;
	width: 150px;
	height: 150px;
}

.aboutme-introduction-image {
	border-radius: 50%;
	background-image: linear-gradient(135deg,#846170,#e6846e);
	display: inline-block;
	width: 100%;
	height: 100%;
}

/* Mobile size  XS */
@media (max-width: 767px) {
	.about-introduction-welcome-contaniner {
		text-align: center;
	}

	.aboutme-introduction-image-container {
		text-align: center;
		width: 100%;
		height: 75px;
	}

	.aboutme-introduction-image {
		width: 75px;
		height: 100%;
	}
}



/*!
 *	Context Quote CSS
 */
 .aboutme-contextquote-context-container {
 	overflow: hidden;
 	min-height: 250px;
 	margin-top: 30px;
 	margin-bottom: 20px;
 	padding: 0px 15px;
 	border-left: 1px solid var(--contextquote-container-border-color);
 	border-right: 1px solid var(--contextquote-container-border-color);
 }

 .aboutme-contextquote-context-p {
 	margin: 0px;
 	font-family: "quote", Sans-serif;
 	font-size: 2.5rem;
 	font-style: italic;
 	word-break: break-all;
 }

 .aboutme-contextquote-profile-h3 {
 	margin-top: 10px;
 }

 .aboutme-contextquote-profile-children-container {
 	overflow: hidden;
 }

 .aboutme-contextquote-profile-children-container > p {
 	/* ListGroupItem will make p tag into aboutme-contextquote-profile-children-container */
 	min-height: 18.2px;
 	font-style: italic;
 	word-break: break-all;
 }

 .aboutme-contextquote-profile-code {
 	margin-top: 2px;
 	margin-right: 5px;
 	display: inline-block;
 	word-break: break-all;
 }

/* Mobile size XS */
@media (max-width: 767px) {
	.aboutme-contextquote-context-container {
		border: 0px;
		padding: 0px;
	}
}