/*!
 *	Variable
 */
:root {
	--body-bg-color: #FFFFFF;
	--body-md-padding-top: 51px;			/* navbar's Height + navbar's Border pixel = body-padding-top */
	--body-xs-padding-top: 99.65px;			/* navbar's Height + navbar's Border pixel + navbar's Items = body-xs-padding-top */

	/* Index CSS variable */
	--logo-color: #00D8FF;

	/* About Me CSS variable */
	--page-welcome-bg-color: #F8F8F8;
  	--contextquote-container-border-color: #EEEEEE;
}



/*!
 *	Fonts
 */
 @font-face {
 	font-family: "logo";
 	src: url("../asset/font/Orbitron-Bold.ttf") format("ttf");
 }

 @font-face {
 	font-family: "caption";
 	src: url("../asset/font/ArchivoBlack-Regular.ttf") format("ttf");
 }

 @font-face {
 	font-family: "children";
 	src: url("../asset/font/Montserrat-SemiBold.ttf") format("ttf");
 }

 @font-face {
 	font-family: "quote";
 	src: url("../asset/font/DancingScript-Regular.ttf") format("ttf");
 }



 /*!
  *	Common Tag
  */
body {
	background-color: var(--body-bg-color);
	padding-top: var(--body-md-padding-top);
}

/* Mobile size  XS */
@media (max-width: 767px) {
	body {
		padding-top: var(--body-xs-padding-top);
	}
}



/*!
 * Custom Common CSS
 */
.pageheader-container {
	background-color: var(--page-welcome-bg-color);
	margin-bottom: 20px;
}

.pageheader-title {
	margin-top: 30px;
	margin-bottom: 15px;
}

.pageheader-line {
	margin-bottom: 30px;
}

/* Mobile size  XS */
@media (max-width: 767px) {
	.pageheader-container {
		text-align: center;
	}
}