/*!
 *	Edit Profile CSS
 */
.editprofile-button-container {
	margin-top: 5px;
	width: 150px;
}

.editprofile-button {
	width: 100%;
}

.editprofile-image-container {
	width: 150px;
	height: 150px;
}

.editprofile-image {
	background-image: linear-gradient(135deg,#846170,#e6846e);
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius: 50%;

}

.editprofile-form-container {  
}

.editprofile-input-textarea {
	resize: none;
	min-height: 80px;
}

.editprofile-save-container {
	width: 100%;
	text-align: right;
	margin-bottom: 15px;
}

/* Mobile size  XS */
@media (max-width: 767px) {
	.editprofile-pageheader-container {
		text-align: center;
	}

	.editprofile-button-container {
		width: 100%;
		text-align: center;
	}

	.editprofile-button {
		width: 150px;
	}

	.editprofile-image-container {
		width: 100%;
		text-align: center;
	}

	.editprofile-image {
		width: 150px;
	}

	.editprofile-form-container {
		margin-top: 15px;
	}

	.editprofile-save-container {
		text-align: center;
	}
}