/*!
 *	Navigation CSS
 */
.header-header-navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	font-size: 1.5rem;
}

.header-header-link-container {
	display: inline;
}

.header-header-link-title {
	outline: 0;
	color: var(--logo-color) !important;
	font-family: "logo", Sans-serif;
	font-size: 3rem;
}

.header-header-link-item-container {
	float: right;
}

.header-header-link-item {
	padding: 15px 10px;
	padding-right: 0px;
	outline: 0;
}

.header-header-link-item:hover {
	text-decoration: none;
}

.header-header-link-item:focus {
	text-decoration: none;	
}

/* Mobile Size */
@media (max-width: 767px) {
	.header-header-navbar {
		font-size: 1.375rem;
	}

	.header-header-navbar-logo {
		text-align: center;
	}

	.header-header-link-title {
		font-size: 2.875rem;
	}

	.header-header-link-item-container {
		width: 100%;
		text-align: center;
	}

	.header-header-link-item {
		float: none;
		display: inline-block;
		padding-right: 10px;
	}

	.header-header-link-title {
		display: inline-block;
		float: none;
	}
}