.home-container {
	margin-top: 20px;
}

.home-nocontent-container {
	margin-top: 30px;
	text-align: center;
}

.home-postshower-container {
	margin: 15px 0px;
}

.home-postshower-title {
	margin-top: 10px;
	overflow-wrap: break-word;
}

.home-postshower-subdata {
	display: inline-block;
	width: 100%;
	text-align: right;
}

.home-postshower-title-splitor {
	margin: 5px 0px;
}

.home-postshower-content-container {
	min-height: 300px;
	overflow-wrap: break-word;
}