.post-action-container {
	margin-bottom: 15px;
}

.post-action-left-align-container {
	text-align: left;
	padding: 0px;
}

.post-action-right-align-container {
	text-align: right;
	padding: 0px;
}

.postlist-right-close {
 	display: inline-block;
 	border: 1px solid #CCCCCC;
 	border-radius: 4px;
	padding: 6px 12px;
	line-height: 20px;
}

.post-action {
	margin-right: 5px;
}

.post-editor-container {
	margin-bottom: 15px;
}