/*!
 * Common CSS
 */
.postlist-dynamic-text-container {
	overflow: hidden;
}



/*!
 * Control Button CSS
 */
 .postlist-newdocument {
 	display: inline-block;
 	border: 1px solid #CCCCCC;
 	border-radius: 4px;
	padding: 6px 12px;
	line-height: 20px;
}

.postlist-newdocument:hover {
 	text-decoration: none;
}

.postlist-pageindicator-container {
	text-align: right;
}

.postlist-postlist-container {
	margin-top: 15px;
}

.postlist-postlist-no-item {
	text-align: center;
}

.postlist-postlist-item-header {
	margin: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.postlist-postlist-extra-info-container {
	text-align: right;	
}

.postlist-postlist-extra-info {
	margin-left: 10px;
}

.postlist-postlist-action {
	padding: 10px 10px 0px 0px;
	opacity: 0.6;
}

.postlist-postlist-action-edit {
	display: inline-block;
	vertical-align: middle;
}

.postlist-postlist-action-delete {
	padding: 10px 0px 0px 0px;
}

.postlist-postlist-action-align-right {
	text-align: right;
}

/* Mobile size  XS */
@media (max-width: 767px) {
}